KaspiShop/Connected Services/ProductService/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60919/Services/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFShopService.Services" />
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFShopService.Services" minOccurs="0" name="GetProductResult" nillable="true" type="q1:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>