KaspiShop/Connected Services/ProductService/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFShopService.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFShopService.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
</xs:schema>