KaspiShop/Connected Services/CustomerAddressService/CustomerAddressService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerAddressService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60919/Services/CustomerAddressService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60919/Services/CustomerAddressService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60919/Services/CustomerAddressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFShopService.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerAddressService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ICustomerAddressService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerAddressService_GetStateProvince_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStateProvince" />
  </wsdl:message>
  <wsdl:message name="ICustomerAddressService_GetStateProvince_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateProvinceResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerAddressService">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerAddressService/Get" message="tns:ICustomerAddressService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerAddressService/GetResponse" message="tns:ICustomerAddressService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStateProvince">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerAddressService/GetStateProvince" message="tns:ICustomerAddressService_GetStateProvince_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerAddressService/GetStateProvinceResponse" message="tns:ICustomerAddressService_GetStateProvince_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerAddressService" type="tns:ICustomerAddressService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/ICustomerAddressService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateProvince">
      <soap:operation soapAction="http://tempuri.org/ICustomerAddressService/GetStateProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerAddressService">
    <wsdl:port name="BasicHttpBinding_ICustomerAddressService" binding="tns:BasicHttpBinding_ICustomerAddressService">
      <soap:address location="http://localhost:60919/Services/CustomerAddressService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>