KaspiShop/Connected Services/CustomerAddressService/CustomerAddressService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFShopService.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFShopService.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ShoppingDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingDetailsDTO" nillable="true" type="tns:ShoppingDetailsDTO" />
</xs:schema>