KaspiShop/Connected Services/OrderDisplayService/OrderDisplayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderDisplayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60919/Services/OrderDisplayService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60919/Services/OrderDisplayService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60919/Services/OrderDisplayService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFShopService.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderDisplayService_GetPurchaseOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderDisplayService_GetPurchaseOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDisplayService_GetPurchaseOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrderDetails" />
  </wsdl:message>
  <wsdl:message name="IOrderDisplayService_GetPurchaseOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDisplayService_GetCustomerOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderDisplayService_GetCustomerOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderDisplayService">
    <wsdl:operation name="GetPurchaseOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDisplayService/GetPurchaseOrders" message="tns:IOrderDisplayService_GetPurchaseOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDisplayService/GetPurchaseOrdersResponse" message="tns:IOrderDisplayService_GetPurchaseOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDisplayService/GetPurchaseOrderDetails" message="tns:IOrderDisplayService_GetPurchaseOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDisplayService/GetPurchaseOrderDetailsResponse" message="tns:IOrderDisplayService_GetPurchaseOrderDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDisplayService/GetCustomerOrder" message="tns:IOrderDisplayService_GetCustomerOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDisplayService/GetCustomerOrderResponse" message="tns:IOrderDisplayService_GetCustomerOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderDisplayService" type="tns:IOrderDisplayService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPurchaseOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderDisplayService/GetPurchaseOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrderDetails">
      <soap:operation soapAction="http://tempuri.org/IOrderDisplayService/GetPurchaseOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderDisplayService/GetCustomerOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderDisplayService">
    <wsdl:port name="BasicHttpBinding_IOrderDisplayService" binding="tns:BasicHttpBinding_IOrderDisplayService">
      <soap:address location="http://localhost:60919/Services/OrderDisplayService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>