KaspiShop/Connected Services/OrderDisplayService/OrderDisplayService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFShopService.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFShopService.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPurchaseOrderHeaderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderHeaderDTO" nillable="true" type="tns:PurchaseOrderHeaderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseOrderHeaderDTO" nillable="true" type="tns:ArrayOfPurchaseOrderHeaderDTO" />
  <xs:complexType name="PurchaseOrderHeaderDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseOrderHeaderDTO" nillable="true" type="tns:PurchaseOrderHeaderDTO" />
  <xs:complexType name="BaseEntityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PurchaseOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntityDTO" nillable="true" type="tns:BaseEntityDTO" />
  <xs:complexType name="ArrayOfShopCartLineDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShopCartLineDTO" nillable="true" type="tns:ShopCartLineDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShopCartLineDTO" nillable="true" type="tns:ArrayOfShopCartLineDTO" />
  <xs:complexType name="ShopCartLineDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShopCartLineDTO" nillable="true" type="tns:ShopCartLineDTO" />
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="ArrayOfOrderDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetailDTO" nillable="true" type="tns:OrderDetailDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetailDTO" nillable="true" type="tns:ArrayOfOrderDetailDTO" />
  <xs:complexType name="OrderDetailDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressLine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderDetailDTO" nillable="true" type="tns:OrderDetailDTO" />
</xs:schema>