KaspiShop/Connected Services/OrderProcessorService/OrderProcessorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60919/Services/OrderProcessorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFShopService.Services" />
  <xs:element name="ProcessOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFShopService.Services" minOccurs="0" name="cart" nillable="true" type="q1:ArrayOfShopCartLineDTO" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFShopService.Services" minOccurs="0" name="shoppingDetails" nillable="true" type="q2:ShoppingDetailsDTO" />
        <xs:element minOccurs="0" name="businessEntityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>