KaspiShop/Connected Services/ProductPhotoService/ProductPhotoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFShopService.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFShopService.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductPhotoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductPhotoID" type="xs:int" />
      <xs:element minOccurs="0" name="ThumbNailPhoto" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPhotoDTO" nillable="true" type="tns:ProductPhotoDTO" />
</xs:schema>